@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'raleway', sans-serif;
}

html {
    background-color: #fbfbfb;
    font-family: 'Raleway', sans-serif;
}

/*logomarca*/
.logomarca {
    width: 12vw;

}

/*titulo da secao*/
.titulo {
    font-size: 48px;
    font-weight: 700;
    line-height: 4rem;
    color: #4e4b59;
}

.descricao {
    font-size: 24px;
    font-weight: 500px;
    line-height: 2.5rem;
    color: #4e4b59;

}

/*cabecalho*/
.cabeçalho {
    /*background-color:red;*/
    padding: 32px 0px;
    box-shadow: 0px 1px 10px #0000001a;
}

/*menu*/
.menu {

    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.links-navegacao {
    list-style: none;
    display: flex;
    flex-direction: row;


}

/* ul.links-navegacao > li > a 1.4rem=20px*/
.links-navegacao li a {
    padding: 16px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;

}

li.registrar a {
    color: #ff6e22;
}

li.registrar a:hover {
    padding: 10px 13px;
    transition: 0.5s ease;
    font-size: 1.5rem;

}

.corpo {
    padding-top: 48px;
    padding-bottom: 48px;

}

.painel-principal {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 128px;
    /*força um novo valor da margem dizendo 0 em cima e embaixo auto na esq e dir e assume um novo valor*/
}

.anuncio-petz {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

/*corpo principal main*/
.botao-principal {
    font-size: 19px;
    cursor: pointer;
    font-family: 'Mochiy Pop One', sans-serif;
    padding: 16px 32px;
    /* dessa forma simplifica a maneira de descrever top booton 16px left rigth 32px*/
    padding-top: 16px;
    color: #f5f5f5;
    background-color: #ff950d;
    border-radius: 10px;
    border: 1px solid #f5f5f5;

}

.imagens-petz {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.fotos-da-direita,
.fotos-da-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fotos-da-esquerda img {
    width: 10vw;
    border-radius: 8px;
}

.fotos-da-direita img {
    width: 22vw;
    border-radius: 8px;


}

/*Secao perfil*/
.tipos-perfil {
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #ff880026;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.tipos-perfil h2 {
    width: 52%;
    text-align: center;

}

.cards-container {
    width: 70%;
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-de-perfil {
    width: 28vw;
    padding: 32px;
    border-radius: 10px;
    background-color: #fbfbfb;
    box-shadow: 2px 2px 15px #4e4b5926;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-de-perfil img {
    width: 16vw;
}

.conteudo-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.link-card {
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    color: #0088ae;


}

.link-rosa {
    color: #a944ff;
}

/*secao dos pilares*/
.valores-da-plataforma {
    width: 85%;
    padding-top: 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sobre-os-valores {
    width: 50%;


}

.sobre-os-valores p {
    margin-top: 30px;
}

.valores-topicos {
    width: 50%;


    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.coluna-valores {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pilar {
    margin: 32px;
    text-align: center;
}

.pilar p {
    margin-top: 18px;
    font-weight: 500;


}

.box-pilar {
    color: #fafafa;
    font-size: 32px;
    padding: 16px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px;

}

span.azul {
    background: #0088ae;
}

span.laranja {
    background: #ff8800;


}

span.roxo {
    background: #a944ff;

}

/*Rodape foter*/
.rodape {
    background-color: #0088AE;

}

.conteudo-rodape {
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}

.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 0 8px;
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;
}

.copyright {
    padding-bottom: 16px;
    text-align: center;
    color: #f5f5f5;
}

@media(max-width: 1024px) {

    /*logomarca*/
    .logomarca {
        width: 15vw;

    }

    .titulo {
        font-size: 35px;
        /* font-weight: 700; */
        line-height: 3rem;
        /* color: #4e4b59; */
    }

    .descricao {
        font-size: 20px;
        /* font-weight: 500px; */
        line-height: 2.0rem;
        /* color: #4e4b59; */

    }


    /* ul.links-navegacao > li > a 1.4rem=20px*/
    .links-navegacao li a {
        /* padding: 16px; */
        font-size: 1.2rem;
        /* font-weight: 600;    nao ha necessidade de mudar no responsivo ha */
        /* text-decoration: none; */

    }

    /* li.registrar a { */
    /* color: #ff6e22; */


    li.registrar a:hover {
        /* padding: 10px 13px;         nao ha necessidade de mudar no responsivo*/
        /* transition: 0.5s ease; */
        font-size: 1.3rem;


    }

    .botao-principal {

        font-size: 16px;
    }

    .imagens-petz {
        /* display: flex; */
        /* flex-direction: row; */
        /* no gap reduz para a metade o valor px  para o responsivo*/

        gap: 15px;
    }

    .fotos-da-esquerda img {
        width: 12vw;
        /* border-radius: 8px; */
    }

    .fotos-da-direita img {
        width: 24vw;
        /* border-radius: 8px; */


    }

    /* secao secundaria */
    .tipos-perfil h2 {
        width: 70%;
        /* text-align: center;  no width nao tem necessidade*/

    }

    .cards-container {
        width: 80%;

    }

    .card-de-perfil {
        width: 32vw;
    }

    .valores-da-plataforma {
        /* width: 85%; */
        /* padding-top: 48px; */
        /* margin: 0 auto; */
        display: flex;
        /* muda o displey flex para colum para a imagem alinhar em coluna no responsivo */
        /* acrescenta align itens center no responssivo */
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .sobre-os-valores {
        /* de 50 para 80 */
        width: 80%;


    }

    .sobre-os-valores p {
        /* almenta o valores de px de 30 para 80 */
        margin-top: 80px;
    }

    .valores-topicos {
        /* width almenta para de 50 para 100 */
        width: 80%;
        /* acrescenta um text alin center para o responsivo */
        text-align: center;

        /* display: flex; */
        /* flex-direction: row; */
        /* justify-content: space-evenly; */

    }

    .logomarca {
        /* de 12 p 20vw */
        width: 20vw;

    }

    /*titulo da secao*/
    .titulo {
        /* size muda 48 p 40 */
        font-size: 40px;
        /* font-weight: 700; */
        /* o rem de 4 muda p 3.2 */
        line-height: 3.2rem;
        /* color: #4e4b59; */
    }

    .descricao {
        /* size 24 p 18 e o rem 2.5 p 1.8 */
        font-size: 24px;
        /* font-weight: 500px; */
        line-height: 2.5rem;
        /* color: #4e4b59; */

    }

    .painel-principal {
        /* FORCAR UM NOVO VALOR P O BOTTOM */

        /* width: 85%; */
        /* margin: 0 auto;  o flex dir de row p  columm reverso  p a img subir ao topo no responsivo*/
        /* acrescenta um gap de 30px no responsivo */
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        /* no margim bottom diminui 128 p 80 */
        margin-bottom: 80px;
        /*força um novo valor da margem dizendo 0 em cima e embaixo auto na esq e dir e assume um novo valor*/
    }


    .anuncio-petz {
        /* almenta de 50 p 80% */
        width: 80%;
        display: flex;
        flex-direction: column;
        /* alinnhar  de flex start p center */
        align-items: center;
        /* gap: 30px; */
    }

    .botao-principal {
        /* size de 19 p 18  padding 16 32 p 13 30 diminui o resto nao utiliza no responsivo*/

        font-size: 18px;
        /* cursor: pointer; */
        /* font-family: 'Mochiy Pop One', sans-serif; */
        padding: 13px 30px;

        /* dessa forma simplifica a maneira de descrever top booton 16px left rigth 32px*/
        /* padding-top: 16px; */
        /* color: #f5f5f5; */
        /* background-color: #ff950d; */
        /* border-radius: 10px; */
        /* border: 1px solid #f5f5f5; */
    }

    .fotos-da-esquerda img {
        /* muda o width de 10 p 16 e a imag da direita de 22 p 40 */
        width: 16vw;
        /* border-radius: 8px; */
    }

    .fotos-da-direita img {
        width: 40vw;
        /* border-radius: 8px; */


    }
}

@media (max-width: 700px) {

    /* cards container width de 80 p 70 */
    .cards-container {
        gap: 30px;


        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;

    }

    .card-de-perfil {
        /* width de 28vw p 100%  o flex diretion de colum p row*/
        width: 100%;
        /* padding: 32px; */
        /* border-radius: 10px; */
        /* background-color: #fbfbfb; */
        /* box-shadow: 2px 2px 15px #4e4b5926; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }



    .card-de-perfil img {
        /* de 16 p 20 */
        width: 16vw;
    }

    .conteudo-card {
        /* dar somente um tamnho de width */
        /* so acrescenta um width de 65% e o restante nao mexe exclui */

        width: 65%;
        /* text-align: center; */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        /* justify-content: space-between; */
    }
}

@media (max-width: 500px) {

    .logomarca {

        /* da logomarca ate descricao h1 p muda de 12vw p 25vw */
        width: 25vw;

    }

    /*titulo da secao*/
    .titulo {
        /* titulo size de 48 p 24 e line heigth de 4rem p2.5rem */
        font-size: 24px;
        /* font-weight: 700; */
        line-height: 2.5rem;
        /* color: #4e4b59; */
    }

    .descricao {
        /* descricao size de 24 p 16  line heigth de 2.5rem p 2 rem */
        font-size: 16px;
        /* font-weight: 500px; */
        line-height: 2.0rem;
        /* color: #4e4b59; */

    }

    /* secao primaria */
    .anuncio-petz {
        /* o width de 50 p 82  e gap de 30 p 15*/
        width: 50%;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: flex-start; */
        gap: 15px;
    }
    .botao-principal {
        /* so mexe no size 19 p 15 */
        font-size:15px ;

    }
    /* secao secundaria */
    .tipos-perfil {
        /* foi acrescentado um width de 85% e um gap de 20px*/
        width: 85%;
        gap: 20pz;
    }
    /* somente padding e align itens */
    .card-de-perfil {
        padding:  20px;
        align-items: center;
    }
    /* somente o widyh para 100% */
    .conteudo-card{
        width: 100%;

    }
    /* fonte size */
    .link-card{
        font-size:  16px;
    }
    /* secao tercearia mexer no texto*/
    .sobre-os-valores {
        width: 50%;
    
    
    }
    .pilar {
        margin: 32px;
        text-align: center;
    }
    /* footer rodape  so muda o gap displey e flex direc*/
    .conteudo-rodape{
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

}